In [1]:
import pandas as pd
import pandasql

In [4]:
result_df_path = '/home/fatemeh/ED-Scale/outputs/data-gov-sandbox/2201-2000-all/results_exp_1_labels_2000/results_df.pickle'
result_df = pd.read_pickle(result_df_path)
scores_all = pd.read_pickle('/home/fatemeh/ED-Scale/outputs/data-gov-sandbox/2201-2000-all/results_exp_1_labels_2000/scores_all.pickle')

In [5]:
result_df.to_csv('result_df.csv')

In [ ]:
query = 'SELECT count(*) from result_df where predicted = 1 and label = 1'
pandasql.sqldf(query)

In [3]:
scores_all

{'n_samples': 2000,
 'total_recall': 0.4607493328115177,
 'total_precision': 0.2725333937507388,
 'total_fscore': 0.3424861238125743,
 'total_tp': 110666,
 'total_fp': 295398,
 'total_tn': 5802412,
 'total_fn': 129521}

In [7]:
result_df[result_df["table_name"]=="Data_HIV_MBK-Data-Request_2014_0731_1100"]

,table_id,table_name,col_id,col_name,cell_idx,cell_value,predicted,label
0,21,Data_HIV_MBK-Data-Request_2014_0731_1100,1,sex,0,NaN,1,1
1,21,Data_HIV_MBK-Data-Request_2014_0731_1100,1,sex,1,NaN,1,1
2,21,Data_HIV_MBK-Data-Request_2014_0731_1100,1,sex,2,NaN,1,1
3,21,Data_HIV_MBK-Data-Request_2014_0731_1100,1,sex,3,Male,1,0
4,21,Data_HIV_MBK-Data-Request_2014_0731_1100,1,sex,4,Male,1,0
...,...,...,...,...,...,...,...,...
153695,21,Data_HIV_MBK-Data-Request_2014_0731_1100,2,raceethnicity,67,"American Indian/Alaska Native, non-Hispanic",1,0
153696,21,Data_HIV_MBK-Data-Request_2014_0731_1100,2,raceethnicity,68,"American Indian/Alaska Native, non-Hispanic",1,0
153697,21,Data_HIV_MBK-Data-Request_2014_0731_1100,2,raceethnicity,69,"Two or more races, non-Hispanic",1,0
153698,21,Data_HIV_MBK-Data-Request_2014_0731_1100,2,raceethnicity,70,"Two or more races, non-Hispanic",1,0
153699,21,Data_HIV_MBK-Data-Request_2014_0731_1100,2,raceethnicity,71,"Two or more races, non-Hispanic",1,0

In [12]:
dirty = pd.read_csv("/home/fatemeh/ED-Scale/Sandbox_Generation/sandbox-parent/data-gov-sandbox/Data_HIV_MBK-Data-Request_2014_0731_1100/dirty_clean.csv", keep_default_na=False)
clean = pd.read_csv("/home/fatemeh/ED-Scale/Sandbox_Generation/sandbox-parent/data-gov-sandbox/Data_HIV_MBK-Data-Request_2014_0731_1100/clean.csv")

In [13]:
dirty

,sexraceethnicity,sex,raceethnicity,year,percentage,count,noteon_percent,noteon_count
0,Total,NULL,NULL,2009,18.0,9214,NULL,NULL
1,Total,NULL,NULL,2010,18.7,9701,NULL,NULL
2,Total,NULL,NULL,2011,19.9,10348,NULL,NULL
3,Total - Male,Male,NULL,2009,28.5,7490,NULL,NULL
4,Total - Male,Male,NULL,2010,30.5,8114,NULL,NULL
...,...,...,...,...,...,...,...,...
67,"Total - Female, American Indian/Alaska Native,...",Female,"American Indian/Alaska Native, non-Hispanic",2010,3.3,7,NULL,NULL
68,"Total - Female, American Indian/Alaska Native,...",Female,"American Indian/Alaska Native, non-Hispanic",2011,2.9,7,NULL,NULL
69,"Total - Female, Two or more races, non-Hispanic",Female,"Two or more races, non-Hispanic",2009,7.5,38,NULL,NULL
70,"Total - Female, Two or more races, non-Hispanic",Female,"Two or more races, non-Hispanic",2010,5.6,37,NULL,NULL
71,"Total - Female, Two or more races, non-Hispanic",Female,"Two or more races, non-Hispanic",2011,3.6,25,NULL,NULL