In [4]:
import pandas as pd
import pandasql
import os

In [2]:
path = "/home/fatemeh/ED-Scale/outputs/sample_sandbox/movies-without12/results_exp_1_labels_100"
result_df = pd.read_pickle(os.path.join(path, "results_df.pickle"))
scores_all = pd.read_pickle(os.path.join(path, "scores_all.pickle"))
samples = pd.read_pickle(os.path.join(path, "sampled_tuples.pkl"))

In [ ]:
query = 'SELECT count(*) from result_df where predicted = 1 and label = 1'
pandasql.sqldf(query)

In [5]:
scores_all

{'n_samples': 357,
 'total_recall': 0.1265201122544434,
 'total_precision': 0.07319218020699451,
 'total_fscore': 0.09273623312620527,
 'total_tp': 1082,
 'total_fp': 13701,
 'total_tn': 103377,
 'total_fn': 7470}

In [20]:
result_df

,table_id,table_name,col_id,col_name,cell_idx,cell_value,predicted,label
0,0,file_0,10,global_conservation_rank,0,G5,-1,-1
1,0,file_0,10,global_conservation_rank,1,G5,0,0
2,0,file_0,10,global_conservation_rank,2,G5,0,0
3,0,file_0,10,global_conservation_rank,3,G5,0,0
4,0,file_0,10,global_conservation_rank,4,G5,0,0
...,...,...,...,...,...,...,...,...
95995,15,file_9,5,common_name,495,Bank Swallow,0,0
95996,15,file_9,5,common_name,496,Northern Rough-winged Swallow,0,0
95997,15,file_9,5,common_name,497,Tree Swallow,0,0
95998,15,file_9,5,common_name,498,Bicknell's Thrush,0,0
95999,15,file_9,5,common_name,499,Veery,0,0

In [ ]:
len(samples)

In [27]:
col_df = pd.read_csv("/home/fatemeh/ED-Scale/Sandbox_Generation/one_dataset_exp/output/1feb/column_groups/col_df_labels_cluster_0.csv")

In [28]:
col_df

,Unnamed: 0,column_cluster_label,col_value,table_id,table_path,table_cluster,col_id
0,0,0,"['Albany', 'Albany', 'Albany', 'Albany', 'Alba...",0,/home/fatemeh/ED-Scale/Sandbox_Generation/one_...,0,0
1,1,1,"['Animal', 'Animal', 'Animal', 'Animal', 'Anim...",0,/home/fatemeh/ED-Scale/Sandbox_Generation/one_...,0,1
2,2,7,"['Amphibians', 'Amphibians', 'Amphibians', 'Am...",0,/home/fatemeh/ED-Scale/Sandbox_Generation/one_...,0,2
3,3,8,"['Frogs and Toads', 'Frogs and Toads', 'Frogs ...",0,/home/fatemeh/ED-Scale/Sandbox_Generation/one_...,0,3
4,4,4,"['Anaxyrus americanus', 'Anaxyrus fowleri', 'H...",0,/home/fatemeh/ED-Scale/Sandbox_Generation/one_...,0,4
...,...,...,...,...,...,...,...
499,499,6,"['Protected Bird - Game with open season', 'Th...",41,/home/fatemeh/ED-Scale/Sandbox_Generation/one_...,0,7
500,500,9,"['not listed', 'not listed', 'not listed', 'no...",41,/home/fatemeh/ED-Scale/Sandbox_Generation/one_...,0,8
501,501,10,"['S5B', 'S3B', '4', '3S4B,S3N', '4', 'S5', 'S4...",41,/home/fatemeh/ED-Scale/Sandbox_Generation/one_...,0,9
502,502,5,"['G5', 'G5', 'Gi5', '5G', '5', 'G5', 'G5', 'G5...",41,/home/fatemeh/ED-Scale/Sandbox_Generation/one_...,0,10
503,503,3,"['Recently Confirmed', 'Recently Confirmed', '...",41,/home/fatemeh/ED-Scale/Sandbox_Generation/one_...,0,11

In [30]:
import pickle
with open("/home/fatemeh/ED-Scale/Sandbox_Generation/one_dataset_exp/output/without_col_name/features.pkl", 'rb') as pickle_file:
    content = pickle.load(pickle_file)
    type(content)
samples = result_df[(result_df["label"]== -1) & (result_df["predicted"] == -1) & (result_df["table_name"] =="file_0")]
samples["sample_act_label"] = samples.apply(lambda row: content[(row["table_id"], row["col_id"], row["cell_idx"], "gt")], axis=1)

/tmp/ipykernel_2169707/3831890180.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  samples["sample_act_label"] = samples.apply(lambda row: content[(row["table_id"], row["col_id"], row["cell_idx"], "gt")], axis=1)

In [32]:
samples[samples["sample_act_label"] == 1]

,table_id,table_name,col_id,col_name,cell_idx,cell_value,predicted,label,sample_act_label
32284,0,file_0,2,taxonomic_group,284,Amphibians,-1,-1,1
40010,0,file_0,4,scientific_name,10,Anaxyrus fowleri,-1,-1,1
48022,0,file_0,3,taxonomic_subgroup,22,"Herons, Bitterns, Egrets, Pelicans",-1,-1,1
64234,0,file_0,1,category,234,Aimal,-1,-1,1
88223,0,file_0,5,common_name,223,Mallard,-1,-1,1

In [35]:
result_df[(result_df["label"] == 1) & (result_df["predicted"] == 0) & (result_df["col_name"] == "category")]

,table_id,table_name,col_id,col_name,cell_idx,cell_value,predicted,label
64236,0,file_0,1,category,236,Animlal,0,1
64490,0,file_0,1,category,490,qAnimal,0,1
64610,1,file_1,1,category,110,Aimal,0,1
64794,1,file_1,1,category,294,sAnimal,0,1
65082,2,file_10,1,category,82,Animaxl,0,1
...,...,...,...,...,...,...,...,...
71911,15,file_9,1,category,411,Animadl,0,1
71933,15,file_9,1,category,433,Aimal,0,1
71934,15,file_9,1,category,434,Animakl,0,1
71935,15,file_9,1,category,435,nimal,0,1
71948,15,file_9,1,category,448,iAnimal,0,1

In [ ]:
content