In [7]:
import pandas as pd
import pandasql
import os

In [10]:
path = "/home/fatemeh/ED-Scale/Sandbox_Generation/one_dataset_exp/output/one_table_splitted/results_exp_1_labels_2000"
result_df = pd.read_pickle(os.path.join(path, "results_df.pickle"))
scores_all = pd.read_pickle(os.path.join(path, "scores_all.pickle"))
samples = pd.read_pickle(os.path.join(path, "sampled_tuples.pkl"))

In [ ]:
query = 'SELECT count(*) from result_df where predicted = 1 and label = 1'
pandasql.sqldf(query)

In [ ]:
result_df[result_df["label"]==-1]["table_id", "col_id", "cell_idx"]

In [11]:
scores_all

{'n_samples': 596,
 'total_recall': 0.010967584694126249,
 'total_precision': 1.0,
 'total_fscore': 0.021697203471552556,
 'total_tp': 45,
 'total_fp': 0,
 'total_tn': 241981,
 'total_fn': 4058}

In [6]:
len(samples)

678

In [2]:
col_df = pd.read_csv("/home/fatemeh/ED-Scale/Sandbox_Generation/one_dataset_exp/output/one_table_splitted/column_groups/col_df_labels_cluster_0.csv")

In [5]:
col_df[col_df["col_id"] == 2]

,Unnamed: 0,column_cluster_label,col_value,table_id,col_id
2,2,7,"['Amphibians', 'Amphibians', 'Amphibians', 'Am...",0,2
14,14,7,"['Birds', 'Birds', 'Birds', 'Birds', 'Birds', ...",1,2
26,26,7,"['Birds', 'Birds', 'Birds', 'Birds', 'Birds', ...",2,2
38,38,7,"['Birds', 'Birds', 'Birds', 'Birds', 'Birds', ...",3,2
50,50,7,"['Birds', 'Birds', 'Birds', 'Birds', 'Birds', ...",4,2
62,62,7,"['Amphibians', 'Amphibians', 'Amphibians', 'Am...",5,2
74,74,7,"['Mammals', 'Other Animals', 'Other Animals', ...",6,2
86,86,7,"['Flowering Plants', 'Flowering Plants', 'Flow...",7,2
98,98,7,"['Reptiles', 'Freshwater Nontidal Wetlands', '...",8,2
110,110,7,"['Birds', 'Birds', 'Birds', 'Birds', 'Birdzs',...",9,2
122,122,7,"['Flowering Plants', 'Flowering Plants', 'Flow...",10,2
134,134,7,"['Reptiles', 'Freshwater Nontidal Wetlands', '...",11,2
146,146,7,"['Birds', 'Birds', 'Birds', 'Birds', 'Birds', ...",12,2
158,158,7,"['Birds', 'Birds', 'Birds', 'Birds', 'Birds', ...",13,2
170,170,7,"['Conifers', 'Conifers', 'Ferns and Fern Allie...",14,2
182,182,7,"['Flowering Plants', 'Flowering Plants', 'Flow...",15,2
194,194,7,"['Birds', 'Birds', 'Birds', 'Birds', 'Birds', ...",16,2
206,206,7,"['Freshwater Nontidal Wetlands', 'Freshwater N...",17,2
218,218,7,"['Birds', 'Birds', 'Birds', 'Birds', 'Birds', ...",18,2
230,230,7,"['Birds', 'Birds', 'Birds', 'Birds', 'Birds', ...",19,2
242,242,7,"['Reptiles', 'Reptiles', 'Reptiles', 'Reptiles...",20,2
254,254,7,"['Flowering Plants', 'Flowering Plants', 'Flow...",21,2
266,266,7,"['Birds', 'Birds', 'Birds', 'Birds', 'Birds', ...",22,2
278,278,7,"['Flowering Plants', 'Flowering Plants', 'Flow...",23,2
290,290,7,"['Amphibians', 'Animal ssemblages', 'Birds', '...",24,2
302,302,7,"['Birds', 'Birds', 'Birds', 'Birds', 'Birds', ...",25,2
314,314,7,"['Other Animals', 'Reptiles', 'Reptiles', 'Rep...",26,2
326,326,7,"['Birds', 'Birds', 'Birds', 'Birds', 'Birds', ...",27,2
338,338,7,"['Flowering Plants', 'Flowering Plants', 'Flow...",28,2
350,350,7,"['Birds', 'Birds', 'Birds', 'Birds', 'Birds', ...",29,2
362,362,7,"['Flowering Plants', 'Flowering Plants', 'Flow...",30,2
374,374,7,"['Flowering Plants', 'Flowering Plants', 'Flow...",31,2
386,386,7,"['Birds', 'Birds', 'Birds', 'Birds', 'Birds', ...",32,2
398,398,7,"['Flowering Plants', 'Flowering Plants', 'Flow...",33,2
410,410,7,"['Birds', 'Birds', 'Birds', 'Birds', 'Birds', ...",34,2
422,422,7,"['Flowering Plants', 'Flowering Plants', 'Amph...",35,2
434,434,7,"['Flowering Plants', 'Flowering Plants', 'Flow...",36,2
446,446,7,"['Flowering Plants', 'Flowering Plants', 'Flow...",37,2
458,458,7,"['Fish', 'Fish', 'Fish', 'Fish', 'Mammals', 'M...",38,2
470,470,7,"['Amphibians', 'Amphibians', 'Amphibians', 'Bi...",39,2
482,482,7,"['Flowering Plants', 'Amphibians', 'Amphibians...",40,2
494,494,7,"['Birds', 'Birds', 'Birwds', 'Birsd', 'Birdns'...",41,2

In [ ]:
test = pd.read_csv("/home/fatemeh/ED-Scale/Sandbox_Generation/one_dataset_exp/Biodiversity_by_County_-_Distribution_of_Animals__Plants_and_Natural_Communities/parent/splitted_files/file_41/clean.csv")

In [1]:
import string
len(string.printable)

100