In [130]:
import pickle

with open('/home/fatemeh/ED-Scale/marshmallow_pipeline/output/results/scores_all.pickle', 'rb') as f:
    scores = pickle.load(f)
scores

with open('/home/fatemeh/ED-Scale/marshmallow_pipeline/output/results/labeled_by_user.pickle', 'rb') as f:
    labeled_by_user = pickle.load(f)

In [131]:
scores

{'n_samples': 117,
 'total_recall': 0.960021831082003,
 'total_precision': 0.40828642720362096,
 'total_fscore': 0.5729175148603535,
 'total_tp': 7036,
 'total_fp': 10197,
 'total_tn': 441439,
 'total_fn': 293}

In [75]:
labeled_by_user

{('3', '0'): [0],
 ('3', '1'): [0, 0],
 ('3', '2'): [0, 0],
 ('3', '3'): [0],
 ('3', '4'): [0],
 ('3', '5'): [0],
 ('3', '6'): [0],
 ('3', '7'): [0],
 ('3', '8'): [0, 0],
 ('3', '9'): [0, 0],
 ('3', '10'): [0, 0],
 ('3', '11'): [0, 0],
 ('3', '12'): [0],
 ('1', '0'): [0, 0],
 ('1', '1'): [0, 0],
 ('1', '2'): [0, 0],
 ('1', '3'): [0, 0],
 ('1', '4'): [0, 0],
 ('1', '5'): [0, 0],
 ('1', '6'): [0, 0],
 ('1', '7'): [0, 0],
 ('1', '8'): [0, 0],
 ('1', '9'): [0, 0],
 ('1', '10'): [0, 0],
 ('1', '11'): [0, 0],
 ('1', '12'): [1, 1],
 ('1', '13'): [0, 0],
 ('1', '14'): [1, 0],
 ('1', '15'): [1, 1],
 ('1', '16'): [0, 0],
 ('1', '17'): [0, 0],
 ('1', '18'): [0, 0],
 ('1', '19'): [0, 0],
 ('1', '20'): [0, 0],
 ('1', '21'): [0, 0],
 ('1', '22'): [0, 0],
 ('1', '23'): [0, 0],
 ('2', '0'): [0, 0],
 ('2', '1'): [0, 0],
 ('2', '2'): [0, 0],
 ('2', '3'): [0, 1],
 ('2', '4'): [0, 0],
 ('2', '5'): [0, 0],
 ('2', '6'): [0, 1],
 ('0', '0'): [0, 0],
 ('0', '1'): [0, 0],
 ('0', '2'): [0, 0],
 ('0', '3'): [0, 0],
 ('0', '4'): [0, 0],
 ('0', '5'): [0, 0],
 ('0', '6'): [0, 0],
 ('0', '7'): [0, 0],
 ('0', '8'): [0, 0],
 ('0', '9'): [0, 0],
 ('0', '10'): [0, 0],
 ('0', '11'): [0, 0],
 ('0', '12'): [1, 0],
 ('0', '13'): [0, 0],
 ('0', '14'): [1, 1],
 ('0', '15'): [0, 0],
 ('0', '16'): [0, 0],
 ('0', '17'): [0, 1]}

In [ ]:
import pickle
import pandas as pd 

with open('/home/fatemeh/ED-Scale/marshmallow_pipeline/output/noises_dict.pickle', 'rb') as f:
    noises_dict = pickle.load(f)

df = pd.DataFrame.from_dict(noises_dict, orient='index').T

for i, row in df.iterrows():
    print("***************************************************************")
    print(row['table_cluster'], row['col_cluster'])
    count = 0
    for j in row['noise_status'].keys():
        if row['noise_status'][j] == True:
            count += 1
    print(count)
    # for i in row['error_ratio'].keys():
    #     if row['error_ratio'][i] and row['error_ratio'][i] > 0:
    #         print(i, row['error_ratio'][i])

Table Column Grouping Res Analysis

In [136]:
import pickle
import pandas as pd

with open('/home/fatemeh/ED-Scale/marshmallow_pipeline/mediate_files/col_grouping_res/col_df_res/col_df_labels_cluster_1.pickle', 'rb') as f:
    col_df_labels = pickle.load(f)
df_col = pd.DataFrame.from_dict(col_df_labels, orient='index').T
df_col["table_path"].unique()
df_col[df_col['column_cluster_label'] == 15]
# df_col[df_col['column_cluster_label'] == 0]['col_value'].values

,column_cluster_label,col_value,table_id,table_path,table_cluster,col_id
23,15,"[NEAR EAST, CIS (FORMER USSR), OCEANIA, WESTER...",920d7f742dc7fc3aa6ca183ca630c4d8,/home/fatemeh/ED-Scale/Old_Files/Benchmarks/ka...,1,3
24,15,"[Lesotho, Guyana, Eswatini, South Korea, Kirib...",5a831f38d322323bc8aeef9790da4111,/home/fatemeh/ED-Scale/Old_Files/Benchmarks/ka...,1,3
25,15,"[LSO, GUY, SWZ, KOR, KIR, FSM, LTU, SUR, RUS, ...",5a831f38d322323bc8aeef9790da4111,/home/fatemeh/ED-Scale/Old_Files/Benchmarks/ka...,1,4
26,15,"[LS, GY, SZ, KR, KI, FM, LT, SR, RU, ZA, UA, B...",5a831f38d322323bc8aeef9790da4111,/home/fatemeh/ED-Scale/Old_Files/Benchmarks/ka...,1,5
27,15,"[Africa, South America, Africa, Asia, Oceania,...",5a831f38d322323bc8aeef9790da4111,/home/fatemeh/ED-Scale/Old_Files/Benchmarks/ka...,1,7
28,15,"[Southern Africa, South America, Central Ameri...",5a831f38d322323bc8aeef9790da4111,/home/fatemeh/ED-Scale/Old_Files/Benchmarks/ka...,1,8
29,15,"[Sub-Saharan Africa, Latin America, Sub-Sahara...",5a831f38d322323bc8aeef9790da4111,/home/fatemeh/ED-Scale/Old_Files/Benchmarks/ka...,1,9
30,15,"[Shanghai, Yunnan, Beijing, Zhejiang, Jilin, S...",6b4b915850836047cbb546c20c7442d3,/home/fatemeh/ED-Scale/Old_Files/Benchmarks/ka...,1,1
31,15,"[Mainland China, nan, Mainland China, Taiwan, ...",6b4b915850836047cbb546c20c7442d3,/home/fatemeh/ED-Scale/Old_Files/Benchmarks/ka...,1,2
32,15,"[IL, KG, FJ, IT, SD, RU, MD, BD, LK, CL, FR, I...",920d7f742dc7fc3aa6ca183ca630c4d8,/home/fatemeh/ED-Scale/Old_Files/Benchmarks/ka...,1,1

In [98]:
df_col.sh

(17, 6)

In [83]:
import random
n_col_clusters = df_col['column_cluster_label'].max() + 1
print("n_col_clusters:", n_col_clusters)

for i in range(n_col_clusters):
    print("***************************************************************")
    print(i)
    d = df_col[df_col['column_cluster_label'] == i]
    for i, r in d.iterrows():
        print(random.sample(r['col_value'], 5))

n_col_clusters: 13
***************************************************************
0
[nan, nan, nan, nan, nan]
***************************************************************
1
['QHU36843', 'QHU36825', 'QHU36855', 'QHO60594', 'QHU79212']
[96, 121, 13467, 419, 121]
***************************************************************
2
['orf1a polyprotein [Severe acute respiratory syndrome coronavirus 2]', 'nucleocapsid phosphoprotein [Severe acute respiratory syndrome coronavirus 2]', 'orf1ab polyprotein [Severe acute respiratory syndrome coronavirus 2]', 'envelope protein [Severe acute respiratory syndrome coronavirus 2]', 'orf8 protein [Severe acute respiratory syndrome coronavirus 2]']
['Severe acute respiratory syndrome-related coronavirus', 'Severe acute respiratory syndrome-related coronavirus', 'Severe acute respiratory syndrome-related coronavirus', 'Severe acute respiratory syndrome-related coronavirus', 'Severe acute respiratory syndrome-related coronavirus']
***************************************************************
3
['Betacoronavirus', 'Betacoronavirus', 'Betacoronavirus', 'Betacoronavirus', 'Betacoronavirus']
***************************************************************
4
['Coronaviridae', 'Coronaviridae', 'Coronaviridae', 'Coronaviridae', 'Coronaviridae']
***************************************************************
5
[nan, nan, nan, nan, nan]
***************************************************************
6
[nan, nan, nan, nan, nan]
***************************************************************
7
[nan, nan, nan, nan, nan]
***************************************************************
8
['Japan', 'USA', 'Japan', 'South Korea', 'Japan']
***************************************************************
9
['ORF3a protein', 'envelope protein', 'nonstructural protein NS8', 'orf8 protein', 'surface glycoprotein']
['Homo sapiens', 'Homo sapiens', 'Homo sapiens', 'Homo sapiens', 'Homo sapiens']
***************************************************************
10
['oronasopharynx', nan, nan, nan, 'oronasopharynx']
***************************************************************
11
['2020-02-05T00:00:00Z', '2020-02-12T00:00:00Z', '2020-02-06T00:00:00Z', '2020-01-29T00:00:00Z', '2020-01-29T00:00:00Z']
['2020-01-31', '2020-01-27', '2019-12-30', '2020-01', '2020-01-28']
***************************************************************
12
[nan, nan, nan, nan, nan]

In [84]:
18 + 24 + 7 + 13

62

In [ ]:
with open('/home/fatemeh/ED-Scale/marshmallow_pipeline/output/results/tables_dict.pickle', 'rb') as f:
    table_dict = pickle.load(f)

In [ ]:
table_dict

Raha Results

In [33]:
import pandas as pd
import json
import os

repition = range(1, 4)
labeling_budgets = range(1, 2)
sandbox_path = "/home/fatemeh/ED-Scale/Old_Files/Benchmarks/kaggle_sample_dataset/separated_kaggle_lake/kaggle_sample_sandbox"
results_path = "/home/fatemeh/ED-Scale/Old_Files/Benchmarks/kaggle_sample_dataset/results"
dir_levels = 1 # That means we have files in each subdirectory of sandbox dir
# datasets = ["best_sellers", "1", "2", "cou_1", "cou_2", "disney", "imdb", "marvels"]
datasets = []
algorithm = 'raha'


if dir_levels == 1:
    for dir in os.listdir(sandbox_path):
        datasets.append(dir)

# "actuall_errors_json":[]

results_dict = {"algorithm":[], "dataset":[], "execution_number":[], 
              "precision": [], "recall": [], "f_score": [],
                "tp": [], "ed_tpfp": [], "ed_tpfn": [], "execution_time": [],
                 "number_of_labeled_tuples": [], "number_of_labeled_cells": [], "detected_errors_keys":[]}
count = 0 
d = []
no_errors_files = []
raha_erros_file = []
for i in repition:
    for dataset in datasets:
        if dataset not in no_errors_files and dataset not in raha_erros_file:
            for label_budget in labeling_budgets:
                print("label_budget: {}, dataset: {}, execution_number: {}".format(label_budget, dataset, i))
                # "/{}_labels_{}_execution".format(label_budget, i) +
                file_path = results_path + '/{}_{}_number#{}_${}$labels.json'\
                            .format(algorithm, dataset, str(i), str(label_budget))
                # print(file_path)
                if os.path.exists(file_path):
                    with open(file_path) as file:
                        json_content = json.load(file)
                        results_dict['algorithm'].append(algorithm)
                        results_dict['dataset'].append(dataset)
                        # results_dict['dataset_shape'].append(json_content['dataset_shape'])
                        results_dict['execution_number'].append(i)
                        results_dict['precision'].append(json_content['precision'])
                        results_dict['recall'].append(json_content['recall'])
                        results_dict['f_score'].append(json_content['f_score'])
                        results_dict['tp'].append(json_content['tp'])
                        results_dict['ed_tpfp'].append(json_content['ed_tpfp'])
                        results_dict['ed_tpfn'].append(json_content['ed_tpfn'])
                        results_dict['execution_time'].append(json_content['execution-time'])
                        results_dict['number_of_labeled_tuples'].append(json_content['number_of_labeled_tuples'])
                        results_dict['number_of_labeled_cells'].append(json_content['number_of_labeled_cells'])
                        # results_dict['actuall_errors_json'].append(json_content['actuall_errors_json'])
                        results_dict['detected_errors_keys'].append(json_content['detected_errors_keys'])
                else:
                    print("The file does not exist: {}".format(file_path))
                    print()
        
result_df = pd.DataFrame.from_dict(results_dict)
# result_df.to_csv("/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/results_all_{}.csv".format(algorithm))

label_budget: 1, dataset: best_sellers, execution_number: 1
label_budget: 1, dataset: disney, execution_number: 1
label_budget: 1, dataset: marvels, execution_number: 1
label_budget: 1, dataset: 1, execution_number: 1
label_budget: 1, dataset: cou_1, execution_number: 1
label_budget: 1, dataset: 2, execution_number: 1
label_budget: 1, dataset: imdb, execution_number: 1
label_budget: 1, dataset: cou_2, execution_number: 1
label_budget: 1, dataset: best_sellers, execution_number: 2
label_budget: 1, dataset: disney, execution_number: 2
label_budget: 1, dataset: marvels, execution_number: 2
label_budget: 1, dataset: 1, execution_number: 2
label_budget: 1, dataset: cou_1, execution_number: 2
label_budget: 1, dataset: 2, execution_number: 2
label_budget: 1, dataset: imdb, execution_number: 2
label_budget: 1, dataset: cou_2, execution_number: 2
label_budget: 1, dataset: best_sellers, execution_number: 3
label_budget: 1, dataset: disney, execution_number: 3
label_budget: 1, dataset: marvels, execution_number: 3
label_budget: 1, dataset: 1, execution_number: 3
label_budget: 1, dataset: cou_1, execution_number: 3
label_budget: 1, dataset: 2, execution_number: 3
label_budget: 1, dataset: imdb, execution_number: 3
label_budget: 1, dataset: cou_2, execution_number: 3

In [34]:
result_df[result_df["execution_number"] == 1]

,algorithm,dataset,execution_number,precision,recall,f_score,tp,ed_tpfp,ed_tpfn,execution_time,number_of_labeled_tuples,number_of_labeled_cells,detected_errors_keys
0,raha,best_sellers,1,0.000000,0.00,0.000000,0.0,0.0,178,0.187407,1,7,[]
1,raha,disney,1,0.000000,0.00,0.000000,0.0,0.0,122,0.164836,1,6,[]
2,raha,marvels,1,0.000000,0.00,0.000000,0.0,0.0,10070,655.769868,1,12,[]
3,raha,1,1,0.000000,0.00,0.000000,0.0,0.0,90,0.140976,1,8,[]
4,raha,cou_1,1,0.132231,0.25,0.172973,32.0,242.0,128,0.174839,1,13,"[[0, 2], [1, 2], [2, 2], [3, 2], [4, 2], [5, 2..."
5,raha,2,1,0.000000,0.00,0.000000,0.0,0.0,115,0.376129,1,17,[]
6,raha,imdb,1,0.000000,0.00,0.000000,0.0,0.0,247,1.004929,1,14,[]
7,raha,cou_2,1,0.000000,0.00,0.000000,0.0,0.0,74,0.269205,1,21,[]

In [36]:
pp, rr, ff = 0, 0, 0
for i in range(1, 4):
    df = result_df[result_df['execution_number'] == i]
    p = sum(df['tp'])/(sum(df['ed_tpfp']))
    r = sum(df['tp'])/(sum(df['ed_tpfn']))
    f_score = 2*p*r/(p+r)
    print(p, r, f_score)
    print(df["number_of_labeled_cells"].sum())
    pp += p
    rr += r
    ff += f_score
print(pp/3, rr/3, ff/3)

0.1322314049586777 0.002902757619738752 0.005680809515355939
98
0.12833333333333333 0.006984760522496371 0.01324845147969718
98
0.098969129923245 0.32048258345428154 0.1512349642566671
98
0.11984462273841867 0.11012336719883888 0.05672140841724008

In [99]:
import pickle

with open('/home/fatemeh/ED-Scale/marshmallow_pipeline/output/results/results_df.pickle', 'rb') as f:
    results_df = pickle.load(f)

In [100]:
results_df

Empty DataFrame
Columns: [table_id, table_name, table_shape, col_id, col_name, cell_idx, cell_value, predicted, label]
Index: []

In [132]:
results_path = "/home/fatemeh/ED-Scale/marshmallow_pipeline/output/results"
all_col_clusters_scores = []
for f in os.listdir(results_path):
    if f.startswith('scores_col_cluster_'):
        scores = pickle.load(open(os.path.join(results_path, f), 'rb'))
        all_col_clusters_scores.append(scores)
all_col_clusters_scores_df = pd.DataFrame.from_dict(all_col_clusters_scores)
all_col_clusters_scores_df.to_csv(os.path.join(results_path, 'all_col_clusters_scores.csv'))

0.960021831082003

In [107]:
import pandas as pd
df = pd.DataFrame.from_dict(all_col_clusters_scores)
print(df['tp'].sum()/(df['tp'].sum() + df['fp'].sum()))
ae = ("Actual Errors:", df['tp'].sum() + df['fn'].sum())
tt = ("All values:", df['tp'].sum() + df['fn'].sum() + df['fp'].sum() + df['tn'].sum())

0.3926120194185592

In [125]:
with open('/home/fatemeh/ED-Scale/marshmallow_pipeline/output/results/results_per_table.pickle', 'rb') as f:
    results_per_table = pickle.load(f)

In [126]:
results_per_table

{}