In [7]:
import pickle
import os 

results_path = "/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/output/results"
all_col_clusters_scores = []
for f in os.listdir(results_path):
    if f.startswith('scores_col_cluster_'):
        scores = pickle.load(open(os.path.join(results_path, f), 'rb'))
        all_col_clusters_scores.append(scores)

In [8]:
import pandas as pd
df = pd.DataFrame.from_dict(all_col_clusters_scores)
df

   col_cluster  precision    recall   f_score support  tp  fp    fn      tn
0       (3, 2)   0.983324  0.983324  0.983324    None   0   0   122    7194
1       (3, 3)   1.000000  1.000000  1.000000    None   0   0     0    1000
2       (4, 2)   1.000000  1.000000  1.000000    None   0   0     0   34992
3       (4, 3)   1.000000  1.000000  1.000000    None   0   0     0   69984
4       (0, 2)   1.000000  1.000000  1.000000    None   0   0     0     928
5       (0, 3)   1.000000  1.000000  1.000000    None   0   0     0     928
6       (4, 4)   0.961991  0.961991  0.961991    None   0   0  6650  168310
7       (2, 1)   0.950000  0.950000  0.950000    None   0   0    55    1045
8       (2, 0)   1.000000  1.000000  1.000000    None   0   0     0     550
9       (1, 1)   0.988593  0.988593  0.988593    None   0   0    36    3120
10      (1, 0)   1.000000  1.000000  1.000000    None   0   0     0     368
11      (3, 4)   0.988693  0.988693  0.988693    None   0   0    97    8482
12      (4, 1)   1.000000  1.000000  1.000000    None   0   0     0   34992
13      (4, 0)   1.000000  1.000000  1.000000    None   0   0     0  104976
14      (0, 1)   0.992919  0.992919  0.992919    None   0   0    23    3225
15      (0, 0)   0.983477  0.983477  0.983477    None   0   0    46    2738
16      (1, 5)   1.000000  1.000000  1.000000    None   0   0     0     242
17      (1, 4)   1.000000  1.000000  1.000000    None   0   0     0    1084
18      (3, 1)   1.000000  1.000000  1.000000    None   0   0     0    1000
19      (3, 0)   0.970868  0.970868  0.970868    None   0   0    46    1533
20      (1, 2)   0.968055  0.968055  0.968055    None   0   0    79    2394
21      (1, 3)   0.963183  0.963183  0.963183    None   0   0    93    2433
22      (2, 2)   0.925455  0.925455  0.925455    None   0   0    82    1018
23      (2, 3)   1.000000  1.000000  1.000000    None   0   0     0    1100

In [45]:
all_col_clusters_scores_df = pd.DataFrame.from_dict(all_col_clusters_scores)

In [18]:
import pickle 

with open("/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/output/results/scores_all.pickle", 'rb') as f:
    t = pickle.load(f)
t

{'n_samples': 5819,
 'total_recall': 0.010873453036697903,
 'total_precision': 1.0,
 'total_fscore': 0.021512985634420778,
 'total_tp': 152,
 'total_fp': 0,
 'total_tn': 864890,
 'total_fn': 13827}

In [4]:
import pandas as pd
import json

repition = range(1, 4)
labeling_budgets = range(1, 2)
sandbox_path = "/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle/separated_kaggle_lake"
results_path = "/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig"
dir_levels = 1 # That means we have files in each subdirectory of sandbox dir
datasets = ["best_sellers", "c_1", "c_2", "cov_1", "cov_2", "disney", "imdb", "marvels"]
algorithm = 'raha'


if dir_levels == 1:
    for dir in os.listdir(sandbox_path):
        datasets.append(dir)

# "actuall_errors_json":[]

results_dict = {"algorithm":[], "dataset":[], "execution_number":[], 
              "precision": [], "recall": [], "f_score": [],
                "tp": [], "ed_tpfp": [], "ed_tpfn": [], "execution_time": [],
                 "number_of_labeled_tuples": [], "number_of_labeled_cells": [], "detected_errors_keys":[]}
count = 0 
d = []
no_errors_files = []
raha_erros_file = []
for i in repition:
    for dataset in datasets:
        if dataset not in no_errors_files and dataset not in raha_erros_file:
            for label_budget in labeling_budgets:
                # "/{}_labels_{}_execution".format(label_budget, i) +
                file_path = results_path + '/{}_{}_number#{}_${}$labels.json'\
                            .format(algorithm, dataset, str(i), str(label_budget))
                print(file_path)
                if os.path.exists(file_path):
                   
                    with open(file_path) as file:
                        json_content = json.load(file)
                        results_dict['algorithm'].append(algorithm)
                        results_dict['dataset'].append(dataset)
                        # results_dict['dataset_shape'].append(json_content['dataset_shape'])
                        results_dict['execution_number'].append(i)
                        results_dict['precision'].append(json_content['precision'])
                        results_dict['recall'].append(json_content['recall'])
                        results_dict['f_score'].append(json_content['f_score'])
                        results_dict['tp'].append(json_content['tp'])
                        results_dict['ed_tpfp'].append(json_content['ed_tpfp'])
                        results_dict['ed_tpfn'].append(json_content['ed_tpfn'])
                        results_dict['execution_time'].append(json_content['execution-time'])
                        results_dict['number_of_labeled_tuples'].append(json_content['number_of_labeled_tuples'])
                        results_dict['number_of_labeled_cells'].append(json_content['number_of_labeled_cells'])
                        # results_dict['actuall_errors_json'].append(json_content['actuall_errors_json'])
                        results_dict['detected_errors_keys'].append(json_content['detected_errors_keys'])
                else:
                    print("The file does not exist: {}".format(file_path))
                    print()
        
result_df = pd.DataFrame.from_dict(results_dict)
# result_df.to_csv("/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/results_all_{}.csv".format(algorithm))

/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_best_sellers_number#1_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_c_1_number#1_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_c_2_number#1_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_cov_1_number#1_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_cov_2_number#1_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_disney_number#1_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_imdb_number#1_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_marvels_number#1_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_kaggle_sample_sandbox_number#1_$1$labels.json
The file does not exist: /Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_kaggle_sample_sandbox_number#1_$1$labels.json

/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_best_sellers_number#2_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_c_1_number#2_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_c_2_number#2_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_cov_1_number#2_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_cov_2_number#2_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_disney_number#2_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_imdb_number#2_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_marvels_number#2_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_kaggle_sample_sandbox_number#2_$1$labels.json
The file does not exist: /Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_kaggle_sample_sandbox_number#2_$1$labels.json

/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_best_sellers_number#3_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_c_1_number#3_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_c_2_number#3_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_cov_1_number#3_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_cov_2_number#3_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_disney_number#3_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_imdb_number#3_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_marvels_number#3_$1$labels.json
/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_kaggle_sample_sandbox_number#3_$1$labels.json
The file does not exist: /Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/raha_kaggle_sample_sandbox_number#3_$1$labels.json

In [7]:
result_df

,algorithm,dataset,execution_number,precision,recall,f_score,tp,ed_tpfp,ed_tpfn,execution_time,number_of_labeled_tuples,number_of_labeled_cells,detected_errors_keys
0,raha,best_sellers,1,0.149091,0.500000,0.229692,82.0,550.0,164,1.439390,1,7,"[[0, 3], [1, 3], [2, 3], [3, 3], [4, 3], [5, 3..."
1,raha,c_1,1,0.276860,0.523438,0.362162,67.0,242.0,128,1.689399,1,13,"[[0, 0], [1, 0], [2, 0], [3, 0], [4, 0], [5, 0..."
2,raha,c_2,1,0.000000,0.000000,0.000000,0.0,0.0,74,2.464173,1,21,[]
3,raha,cov_1,1,0.000000,0.000000,0.000000,0.0,0.0,90,3.164852,1,8,[]
4,raha,cov_2,1,0.000000,0.000000,0.000000,0.0,0.0,115,4.246419,1,17,[]
5,raha,disney,1,0.000000,0.000000,0.000000,0.0,0.0,122,1.303808,1,6,[]
6,raha,imdb,1,0.000000,0.000000,0.000000,0.0,0.0,247,8.029716,1,16,[]
7,raha,marvels,1,0.000000,0.000000,0.000000,0.0,0.0,10070,790.468203,1,12,[]
8,raha,best_sellers,2,0.099091,0.664634,0.172468,109.0,1100.0,164,1.419930,1,7,"[[0, 1], [1, 1], [2, 1], [3, 1], [4, 1], [5, 1..."
9,raha,c_1,2,0.000000,0.000000,0.000000,0.0,0.0,128,1.661925,1,13,[]
10,raha,c_2,2,0.089385,0.216216,0.126482,16.0,179.0,74,2.303139,1,21,"[[0, 3], [1, 3], [2, 3], [3, 3], [4, 3], [5, 3..."
11,raha,cov_1,2,0.000000,0.000000,0.000000,0.0,0.0,90,1.227432,1,8,[]
12,raha,cov_2,2,0.000000,0.000000,0.000000,0.0,0.0,115,3.262255,1,17,[]
13,raha,disney,2,0.000000,0.000000,0.000000,0.0,0.0,122,1.407243,1,6,[]
14,raha,imdb,2,0.000000,0.000000,0.000000,0.0,0.0,247,7.599984,1,16,[]
15,raha,marvels,2,0.000000,0.000000,0.000000,0.0,0.0,10070,799.200007,1,12,[]
16,raha,best_sellers,3,0.000000,0.000000,0.000000,0.0,0.0,164,1.381006,1,7,[]
17,raha,c_1,3,0.000000,0.000000,0.000000,0.0,0.0,128,1.708381,1,13,[]
18,raha,c_2,3,0.162011,0.783784,0.268519,58.0,358.0,74,3.475876,1,21,"[[0, 2], [1, 2], [2, 2], [3, 2], [4, 2], [5, 2..."
19,raha,cov_1,3,0.000000,0.000000,0.000000,0.0,0.0,90,1.257516,1,8,[]
20,raha,cov_2,3,0.000000,0.000000,0.000000,0.0,0.0,115,4.280897,1,17,[]
21,raha,disney,3,0.037997,0.180328,0.062767,22.0,579.0,122,1.330743,1,6,"[[0, 4], [1, 4], [2, 4], [3, 4], [4, 4], [5, 4..."
22,raha,imdb,3,0.000000,0.000000,0.000000,0.0,0.0,247,9.658748,1,16,[]
23,raha,marvels,3,0.000000,0.000000,0.000000,0.0,0.0,10070,762.888359,1,12,[]

In [12]:
df = result_df[result_df['execution_number'] == 3]
p = sum(df['tp'])/(sum(df['ed_tpfp']))
r = sum(df['tp'])/(sum(df['ed_tpfn']))
f_score = 2*p*r/(p+r)

In [13]:
print(p, r, f_score)

0.08537886872998933 0.007266121707538601 0.013392483468653219

In [43]:
result_df[result_df["execution_number"]== 1]["number_of_labeled_cells"].sum()

100

In [15]:
import pickle
import pandas as pd 

path = "/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/mediate_files/col_grouping_res/col_df_res/col_df_labels_cluster_0.pickle"

with open(path, 'rb') as f:
    t = pickle.load(f)
    df = pd.DataFrame.from_dict(t)

In [16]:
df[df["column_cluster_label"] == 1]

,column_cluster_label,col_value,table_id,table_path,table_cluster,col_id
6,1,"[2020-01-13T00:00:00Z, 2020-01-17T00:00:00Z, 2...",813cfad0385fd5908a49400c8f8329cd,/Users/fatemehahmadi/Documents/Github-Private/...,0,2
7,1,"[2019-12, 2019-12, 2019-12, 2019-12, 2019-12, ...",813cfad0385fd5908a49400c8f8329cd,/Users/fatemehahmadi/Documents/Github-Private/...,0,14

In [12]:
df.to_csv("/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/garbage/col_df_labels_cluster_2.csv")

In [21]:
import dateparser

dateparser.parse('1273.0,') == None

True

In [2]:
t

{'2012_SAT_Results': '0.csv',
 'SDWIS_Percent_SW_NO3_Violations_County_1994-2016_FINAL': '1.csv',
 'Illicit-drug-use.g12_2014_0731_0900': '2.csv',
 'cdph_ssi_nosurgfac_odp_2019': '3.csv',
 'mrsa-in-rehab-facilities-2015': '4.csv',
 'covid19case_rate_by_social_det': '5.csv',
 'SDWIS_NO3_Pop_Served_County_1994-2016_FINAL': '6.csv',
 'MVA_Vehicle_Sales_Counts_by_Month_for_Calendar_Year_2002_through_August_2022': '7.csv',
 'SDWIS_Percent_GW_NO3_Violations_County_1994-2016_FINAL': '8.csv',
 'userssharedsdfratejvnlsplcdresdfacltssresy20012011': '9.csv',
 'NYS_Lottery_Retailers': '10.csv',
 'Lottery_Mega_Millions_Winning_Numbers__Beginning_2002': '11.csv',
 'Wastewater_Treatment_Plants': '12.csv',
 'Pregnancy_Risk_Assessment_Monitoring_System__PRAMS_': '13.csv',
 'Zip_Codes': '14.csv',
 'Provisional_COVID-19_Death_Counts_in_the_United_States_by_County': '15.csv',
 'cdph_ssi_peds_odp_2020h1': '16.csv',
 'Hate_Crimes': '17.csv',
 'adult-depression-lghc-indicator-24': '18.csv',
 'LA_County_COVID_Cases': '19.csv',
 'SDWIS_SW_NO3_Violations_County_1994-2016_FINAL': '20.csv',
 'NCHS_-_Teen_Birth_Rates_for_Age_Group_15-19_in_the_United_States_by_County': '21.csv',
 'gpsrdsddshp': '22.csv',
 'userssharedsdfimprisonmentratesof1824yosre20002012': '23.csv',
 'SDWIS_GW_NO3_Violations_County_1994-2016_FINAL': '24.csv',
 'Nutrition__Physical_Activity__and_Obesity_-_National_Immunization_Survey__Breastfeeding_': '25.csv',
 'effects-of-covid-19-on-hospital-utilization-trends-statewide-monthly-encounter-totals': '26.csv',
 'userssharedsdfhmcdsper100kyngadults1824sre20002010': '27.csv',
 'userssharedsdfnaepscalescoresof4thgpsssresy200213': '28.csv',
 'COVID-19_Cases__Tests__and_Deaths_by_ZIP_Code': '29.csv',
 'NCHS_-_Births_and_General_Fertility_Rates__United_States': '30.csv',
 'data_gov_bldg_rexus': '31.csv',
 'Biodiversity_by_County_-_Distribution_of_Animals__Plants_and_Natural_Communities': '32.csv',
 'autism_prevalence_studies': '33.csv',
 'oklahoma-public-school-district-directory-march-2017': '34.csv',
 'spcszn83-2': '35.csv',
 's_firm_pan': '36.csv',
 'cdph_mrsa_bsi_odp_2021': '37.csv',
 'surgical-site-infections-ssis-for-24-operative-procedures-2015': '38.csv',
 'non_iou_zipcodes_2020': '39.csv',
 'NAEP8-math-disabilities-trans_verified_2014_0804_1715': '40.csv',
 'Mean_Annual_NO3_Violations_County_1994-2016_FINAL': '41.csv',
 'public_company_bankruptcy_cases': '42.csv',
 'surgical-site-infections-ssis-for-24-operative-procedures-2014': '43.csv',
 'surgical-site-infections-ssis-for-24-operative-procedures-2013': '44.csv',
 'Health_conditions_among_children_under_age_18__by_selected_characteristics__United_States': '45.csv',
 'oklahoma-public-school-district-directory-november-2015': '46.csv',
 'MD_COVID-19_-_Vaccination_Percent_Age_Group_Population': '47.csv',
 'userssharedsdfratesrusvlntcrmvctmztnyouthsre20002012': '48.csv',
 'TripFact': '49.csv',
 'covid19postvaxstatewidestats_07172022': '50.csv',
 'NYPD_Hate_Crimes': '51.csv',
 'Average_Daily_Traffic_Counts': '52.csv',
 'Zip_Code_Lookup_Table': '53.csv',
 'attain-associate-trans_verified_2014_0731_1100': '54.csv',
 'Air_Quality': '55.csv',
 'tra3shp': '56.csv',
 'oklahoma-public-school-district-directory-february-2018': '57.csv',
 'All-Transactions_House_Price_Index_for_Connecticut': '58.csv',
 'KEEDPublishingSocioEconomic': '59.csv',
 'electrician_trainee_list': '60.csv',
 'Lottery_Powerball_Winning_Numbers__Beginning_2010': '61.csv',
 'Illicit-drug-use.g8_2014_0731_0900': '62.csv',
 'Drug_overdose_death_rates__by_drug_type__sex__age__race__and_Hispanic_origin__United_States': '63.csv',
 'userssharedsdfnonfatalvictimizationratessre20002012': '64.csv',
 'covid19postvaxstatewidestats_111321': '65.csv',
 'Weather_Data_April_01_31_2013': '66.csv',
 'Weather_Data_October_01_31_2012': '67.csv',
 'geocodedfoodfacilities-filtered-supermarkets-v2': '68.csv',
 'WiperStatusFrontEvents': '69.csv',
 'userssharedsdfperc18to24yowhonotcomphssre20002013': '70.csv',
 'Alcohol-use.g8_2014_0731_0900': '71.csv',
 'Data_HIV_MBK-Data-Request_2014_0731_1100': '72.csv',
 'Housing-problems_verified_2014_0804_1600': '73.csv',
 'NAEP8-math_verified-2014_0804_1700': '74.csv',
 'Median-Earnings_Some-college_verified.percount_2014_0801_1556': '75.csv',
 'ART_GALLERY': '76.csv',
 'Normal_weight__overweight__and_obesity_among_adults_aged_20_and_over__by_selected_characteristics__United_States': '77.csv',
 '911_Master_PSAP_Registry': '78.csv',
 'e7f49dc2-81b2-4ce0-bab0-7724f7988bed': '79.csv',
 'NAEP4-reading-disabilities-trans_verified_2014_0801_1550': '80.csv',
 'Illicit-drug-use.g10_2014_0731_0900': '81.csv',
 'Street_Names': '82.csv',
 'userssharedsdfpercchldrn017byprsncprntshshldsre20012013': '83.csv',
 'Affordable_Rental_Housing_Developments': '84.csv',
 'oklahoma-public-school-site-directory-november-2015': '85.csv',
 'oklahoma-public-school-district-directory-july-2016': '86.csv',
 'mrsa-in-hospitals-2013': '87.csv',
 'userssharedsdfnaepscalescoresof12thgpsssresy200213': '88.csv',
 'Rain_Barrels_And_Cisterns_Issued_Through_LADWP_Rebate_Program': '89.csv',
 'ssi-2016-ca-cdph-pedsapproved-11.29.17': '90.csv',
 'NAEP4-math-trans_verified_2014_0801_1536': '91.csv',
 's_fld_haz_ar': '92.csv',
 'Electric_Vehicle_Charging_Stations': '93.csv',
 'PosAccurByte2Events': '94.csv',
 'oklahoma-public-school-site-directory-january-2016': '95.csv',
 'Commercial_Aviation_-_Involuntary_Denied_Boarding': '96.csv',
 'Youth_Tobacco_Survey__YTS__Data': '97.csv',
 'oklahoma-public-school-site-directory-august-2015': '98.csv',
 'DHS_Daily_Report': '99.csv',
 'Alcohol-use.g12_2014_0731_0900': '100.csv',
 'covid19postvaxstatewidestats': '101.csv',
 'BrakeByte2Events': '102.csv',
 'Trip_Summary_File_DataWsu_April': '103.csv',
 'Meteorite_Landings': '104.csv',
 'SDWIS_Percent_GWSW_Violations_County_1994-2016_FINAL': '105.csv',
 'oklahoma-public-school-district-directory-january-2016': '106.csv',
 'userssharedsdfperc18to24yoenrld24ycsre20002012': '107.csv',
 'oklahoma-public-school-district-directory-november-2017': '108.csv',
 'ksd244data646630094_schd_view': '109.csv',
 'MD_COVID-19_-_Total_Number_Released_from_Isolation__CovidLINK': '110.csv',
 'userssharedsdfpercchldrn017bynounuslsrchlthcaresre20002012': '111.csv',
 'PosAccurByte4Events': '112.csv',
 'flu-publichealthlab-byregion-fluseason': '113.csv',
 '2010_Census_Populations_by_Zip_Code': '114.csv',
 'oklahoma-public-school-district-directory-november-2016': '115.csv',
 'q75co83_09shp': '116.csv',
 'fruit-and-vegetable-consumption-in-california-residents-20122013': '117.csv',
 'Median-Earnings_High-school_verified.percount_2014_0801_1607': '118.csv',
 'Transportation_Services_Index_and_Seasonally-Adjusted_Transportation_Data': '119.csv',
 'aquifrp025': '120.csv',
 'flu-clinicallab-byregion-fluseason': '121.csv',
 'Postsecondary_School_Locations_2021-22': '122.csv',
 'AH_Provisional_Diabetes_Death_Counts_for_2020': '123.csv',
 'DOITT_SUBWAY_LINE_04JAN2017': '124.csv',
 'Statewide_Greenhouse_Gas_Emissions__Beginning_1990': '125.csv',
 'adults-with-diabetes-per-100-lghc-indicator-23': '126.csv',
 'NAEP12-reading-disabilities-trans_verified-2014_0804_1718': '127.csv',
 'certified_electrician_list': '128.csv',
 'cdph_ssi_adult_odp_2020h1': '129.csv',
 'Regular-cigarette-smoking.g8_NIDA_verified_2014_0804_1211': '130.csv',
 'Demographic_Statistics_By_Zip_Code': '131.csv',
 'flu-ili-byregion-fluseason': '132.csv',
 'cdph_ssi_nosurgfac_odp_2020h1': '133.csv',
 'PosAccurByte1Events': '134.csv',
 'surgical-site-infections-ssis-for-5-operative-procedures-2013': '135.csv',
 'POST_OFFICE': '136.csv',
 'NAEP12-math-disabilities-trans_verified-2014_0804_1715': '137.csv',
 'NAEP4-math-disabilities-trans_verified_2014_0801_1539': '138.csv',
 'cdph_mrsa_bsi_odp_2020h1': '139.csv',
 'data_sources_by_asset_type': '140.csv',
 'Mean_Annual_NO3_Pop_Served_County_1994-2016_FINAL': '141.csv',
 'suicide-lghc-indicator-21': '142.csv',
 'Vacation_Rentals__Hotels__B_B__short-term_rentals__etc._': '143.csv',
 'Death_rates_for_suicide__by_sex__race__Hispanic_origin__and_age__United_States': '144.csv',
 'adult-smoking-prevalence': '145.csv',
 'noniouzipcodes2015': '146.csv',
 'userssharedsdfnaepscalescoresof8thgpsssresy200213': '147.csv',
 'PosAccurByte3Events': '148.csv',
 'NAEP12-math-trans_verified-2014_0804_1720': '149.csv',
 'Alcohol-use.g10_2014_0731_0900': '150.csv',
 'NAEP8-math-disabilities-trans_verified_2014_0804_17151': '151.csv',
 'TransStateEvents': '152.csv',
 'SKA_State_County_Data_2011-2013': '153.csv',
 'quads_075': '154.csv',
 'Certified_Disadvantaged_Business_Enterprise__DBE__Directory': '155.csv',
 'userssharedsdfperc18to24yowhonethenrlschlnorworksre20002012': '156.csv',
 'Median-Earnings_Less-than-high-school_verified.percount_2014_0801_1603': '157.csv',
 'Regular-cigarette-smoking.g12_NIDA_verified_2014_0804_1310': '158.csv',
 'Chicago_Population_Counts': '159.csv',
 'ABS_Store_Inventory_and_Sale_Items': '160.csv',
 'oklahoma-public-school-district-directory-july-2015': '161.csv',
 'dataset_asthma-2017': '162.csv',
 'covid-19_race_ethnicity_timeseries': '163.csv',
 'National_Health_and_Nutrition_Examination_Survey__NHANES__-_National_Cardiovascular_Disease_Surveillance_System': '164.csv',
 'Obesity_among_children_and_adolescents_aged_2_19_years__by_selected_characteristics__United_States': '165.csv',
 'nhd_ftypes': '166.csv',
 'public_company_bankruptcy_cases_2010': '167.csv',
 'Grocery_Stores_-_2013': '168.csv',
 'National_Obesity_By_State': '169.csv',
 'Electric_Vehicle_Population_Size_History': '170.csv',
 'SDWIS_NO3_Violations_County_1994-2016_FINAL': '171.csv',
 'oklahoma-public-school-site-directory-november-2016': '172.csv',
 'land_grants': '173.csv',
 'ssi_no_surgery_facilities07312018': '174.csv',
 'attain-bachelors-trans_verified_2014_0731_1100': '175.csv',
 'HealthInsuranceCoverage': '176.csv'}

In [18]:
import pandas as pd

path = "/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle/separated_kaggle_lake/kaggle_sample_sandbox/imdb/dirty_clean.csv"
df = pd.read_csv(path)
df.drop("Overview", axis = 1, inplace=True)
df.to_csv(path,  index=None)